<template>
  <el-container>
    <el-main style="padding: 0 12px;max-width: 1248px;margin: 0 auto;">
      <el-row style="margin-bottom: 12px;">
        <span style="font-size: 20px; margin-right: 4px;">Project I.App</span>
        <span style="font-size: 18px; margin-right: 10px;vertical-align: text-bottom;">({{appInfo.length}})</span>
        <el-button size="small" icon="iws-icon-create iws-circle-button" @click="isAppFormHidden=false"></el-button>
      </el-row>
      <el-row style="margin-bottom: 12px;">
        <transition name="slide">
          <el-row v-show="!isAppFormHidden" style="margin-top: 12px;border: 1px solid #EEE;padding: 12px;border-radius: 4px;">
            <el-form :model="ruleForm" :rules="rules" ref="ruleForm" class="user-ruleForm" size="mini">
              <el-form-item label="I.App name" prop="name">
                <el-input type="email" v-model="ruleForm.name" autocomplete="off"></el-input>
              </el-form-item>
              <el-form-item label="I.App URL" prop="url">
                <el-input type="text" v-model="ruleForm.url" autocomplete="off"></el-input>
              </el-form-item>
              <el-form-item label="I.App Icon URL" prop="imageUrl">
                <el-input type="text" v-model="ruleForm.imageUrl" autocomplete="off"></el-input>
              </el-form-item>
              <el-form-item label="I.App description" prop="description">
                <el-input type="text" v-model="ruleForm.description" autocomplete="off"></el-input>
              </el-form-item>
              <el-form-item>
                <el-button type="primary" @click="submitForm('ruleForm')">Add I.App</el-button>
                <el-button plain @click="cancelForm()">Cancel</el-button>
              </el-form-item>
            </el-form>
          </el-row>
        </transition>
      </el-row>
      <el-row class="app-row">
        <div v-for="item in appInfo" :key="item.id" class="app-card">
          <img class="img-app" :src="item.image_url"/>
        </div>
      </el-row>
    </el-main>
  </el-container>
</template>

<script>

export default {
  name: 'Home',
  data () {
    const validatePass = (rule, value, callback) => {
      if (value === '') {
        callback(new Error('Please enter a valid email'))
      } else {
        if (this.ruleForm.email !== '') {
          this.$refs.ruleForm.validateField('checkPass')
        }
        callback()
      }
    }
    return {
      isAppFormHidden: true,
      ruleForm: {
        name: '',
        url: '',
        imageUrl: ''
      },
      rules: {
        email: [
          { validator: validatePass, trigger: '' }
        ]
      },
      projectInfo: {
        title: this.$router.currentRoute.params.project
      },
      appInfo: [
        {
          id: 74,
          image_url: 'https://advcloudfiles.advantech.com/wise-paas-marketplace/Logo/icon_SaaSComposer.png',
          title: 'WISE-PaaS/SaaS Composer',
          description: ''
        },
        {
          id: 73,
          image_url: 'https://advcloudfiles.advantech.com/wise-paas-marketplace/Logo/icon_Dashboard.png',
          title: 'WISE-PaaS/Dashboard',
          description: ''
        },
        {
          id: 75,
          image_url: 'https://advcloudfiles.advantech.com/wise-paas-marketplace/Logo/icon_APM.png',
          title: 'WISE-PaaS/InsightAPM (Asset Performance Management)',
          description: ''
        }
      ]
    }
  },
  methods: {
    submitForm (formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          alert('submit!')
        } else {
          console.log('error submit!!')
          return false
        }
      })
    },
    cancelForm (formName) {
      this.isAppFormHidden = true
      this.$refs[formName].resetFields()
    }
  }
}
</script>
<style lang="scss" scoped>
  .user-number {
    margin-left: 8px;
    background-color: #EEE;
    font-size: 12px;
    padding: 2px 4px;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
    vertical-align: text-bottom;
  }
  .button-add-user {
    width: 120px;
  }
  .app-row {
    margin-bottom: 12px;
    .app-card {
      display: inline-block;
      margin-right: 12px;
      .img-app {
        width: 118px;
        border: 1px solid #EEE;
        border-radius: 14px;
        &:hover {
          box-shadow: 0 0 3px 2px #EEEEEE;
        }
      }
    }
  }
</style>
<style lang="scss">
  .button-add-user {
    i {
      font-weight: bold;
    }
  }
</style>
