<template>
  <el-container>
    <el-main style="padding: 0 12px;max-width: 1248px;margin: 0 auto;">
      <el-row style="margin-bottom: 12px;">
        <span style="font-size: 20px; margin-right: 4px;">Monitor</span>
        <span style="font-size: 18px; margin-right: 10px;vertical-align: text-bottom;">({{monitorList.length}})</span>
        <el-button size="small" icon="iws-icon-create iws-circle-button" @click="isMonitorFormHidden=false"></el-button>
      </el-row>
      <el-row style="margin-bottom: 12px;">
        <transition name="slide">
          <el-row v-show="!isMonitorFormHidden" style="margin: 12px 0;border: 1px solid #EEE;padding: 12px;border-radius: 4px;">
            <el-form :model="ruleForm" :rules="rules" ref="ruleForm" class="user-ruleForm" size="mini">
              <el-form-item label="Monitor name" prop="name">
                <el-input type="email" v-model="ruleForm.name" autocomplete="off"></el-input>
              </el-form-item>
              <el-form-item label="Monitor description" prop="description">
                <el-input type="email" v-model="ruleForm.description" autocomplete="off"></el-input>
              </el-form-item>
              <el-form-item>
                <el-button type="primary" @click="submitForm('ruleForm')">Add Monitor</el-button>
                <el-button plain @click="cancelForm()">Cancel</el-button>
              </el-form-item>
            </el-form>
          </el-row>
        </transition>
      </el-row>
      <el-table
        class="iws-table"
        :data="monitorList"
        style="width: 100%"
        row-class-name="iws-el-table-no-hover-highlight">
        <el-table-column
          prop="name"
          label="Name">
          <template slot-scope="scope">
            <span class="iws-el-table-column-link" @click="clickMonitorEvent(scope.row)">{{scope.row.name}}</span>
          </template>
        </el-table-column>
        <el-table-column
          prop="description"
          label="Description">
        </el-table-column>
        <el-table-column
          prop=""
          label="">
          <template slot-scope="scope">
            <el-button size="small" icon="iws-icon-delete" @click="deleteMonitor(scope.row)"> </el-button>
          </template>
        </el-table-column>
      </el-table>
    </el-main>
  </el-container>
</template>

<script>

export default {
  name: 'Home',
  data () {
    const validatePass = (rule, value, callback) => {
      if (value === '') {
        callback(new Error('Please enter a valid name'))
      } else {
        if (this.ruleForm.email !== '') {
          this.$refs.ruleForm.validateField('checkPass')
        }
        callback()
      }
    }
    return {
      isMonitorFormHidden: true,
      ruleForm: {
        name: '',
        description: ''
      },
      rules: {
        name: [
          { validator: validatePass, trigger: '' }
        ]
      },
      projectInfo: {
        title: this.$router.currentRoute.params.project
      },
      monitorList: [
        {
          name: 'central control room',
          description: 'central control room',
          role: 'owner'
        },
        {
          name: 'Building central control room',
          description: 'Building central control room',
          role: 'owner'
        }
      ]
    }
  },
  methods: {
    clickMonitorEvent (row) {
      this.$router.push({
        name: 'project-monitor-detail',
        params: { project: this.$router.currentRoute.params.project, monitor: row.name }
      })
    },
    deleteMonitor () {
    },
    submitForm (formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          alert('submit!')
        } else {
          console.log('error submit!!')
          return false
        }
      })
    },
    cancelForm (formName) {
      this.isMonitorFormHidden = true
      this.$refs[formName].resetFields()
    }
  }
}
</script>
