<template>
  <el-container>
    <el-main style="padding: 0 12px;max-width: 1248px;margin: 0 auto;">
      <el-row style="margin-bottom: 12px;">
        <span style="font-size: 20px; margin-right: 8px;">Naming</span>
      </el-row>
      <el-form :model="ruleForm" :rules="rules" ref="ruleForm" class="project-ruleForm" size="mini">
        <el-form-item label="Project name" prop="name">
          <el-input type="email" v-model="ruleForm.name" autocomplete="off" placeholder="My project"></el-input>
        </el-form-item>
        <el-form-item label="Project URL" prop="url">
          <el-input type="email" v-model="ruleForm.url" autocomplete="off"  placeholder="my-project"></el-input>
        </el-form-item>
        <el-form-item label="Project description (optional)" prop="description">
          <el-input type="email" v-model="ruleForm.description" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="submitForm('ruleForm')">Save changes</el-button>
        </el-form-item>
      </el-form>
      <el-row style="margin-bottom: 12px;margin-top: 36px;">
        <span style="font-size: 20px; margin-right: 8px;">Advanced</span>
      </el-row>
      <el-row style="margin-bottom: 12px;background-color: #eeeeee;padding: 8px;border-radius: 4px;">
        <el-row style="font-size: 14px;color: #323233;line-height: 24px;">Removing the project will delete its content and all related resources including monitors, system functions etc.</el-row>
        <el-row style="font-size: 14px;color: #323233;">Removed projects cannot be restored!</el-row>
      </el-row>
      <el-form size="mini" style="margin-top: 12px;">
        <el-form-item>
          <el-button type="danger" @click="cancelForm()">Remove Project</el-button>
        </el-form-item>
      </el-form>
    </el-main>
  </el-container>
</template>

<script>

export default {
  name: 'Home',
  data () {
    const validatePass = (rule, value, callback) => {
      if (value === '') {
        callback(new Error('Please enter a valid name'))
      } else {
        if (this.ruleForm.email !== '') {
          this.$refs.ruleForm.validateField('checkPass')
        }
        callback()
      }
    }
    return {
      ruleForm: {
        name: '',
        description: ''
      },
      rules: {
        name: [
          { validator: validatePass, trigger: 'blur' }
        ]
      }
    }
  },
  methods: {

  }
}
</script>
<style lang="scss">
  .project-image {
    width: 120px;
    border-radius: 30px;
  }
  .iws-collapse {
    .el-collapse-item__header {
      font-size: 20px;
    }
  }
  .app-row {
    margin-bottom: 12px;
    .app-card {
      display: inline-block;
      margin-right: 12px;
      .img-app {
        width: 118px;
        border: 1px solid #EEE;
        border-radius: 14px;
        &:hover {
          box-shadow: 0 0 3px 2px #EEEEEE;
        }
      }
    }
  }
</style>
