<template>
  <el-container class="user-management">
    <el-main style="padding: 0 12px;max-width: 1248px;margin: 0 auto;">
      <el-row style="margin-bottom: 12px;">
        <span style="font-size: 20px; margin-right: 4px;">Project User</span>
        <span style="font-size: 18px; margin-right: 10px;vertical-align: text-bottom;">({{userList.length}})</span>
        <el-button size="small" icon="iws-icon-create iws-circle-button" @click="isFormHidden=false"></el-button>
      </el-row>
      <el-row style="margin-bottom: 12px;">
        <transition name="slide">
          <el-row v-show="!isFormHidden" style="margin-top: 12px;border: 1px solid #EEE;padding: 12px;border-radius: 4px;">
            <el-form :model="ruleForm" :rules="rules" ref="ruleForm" class="user-ruleForm" size="mini">
              <el-form-item label="Email address" prop="email">
                <el-input type="email" v-model="ruleForm.email" autocomplete="off"></el-input>
              </el-form-item>
              <el-form-item label="Choose a role permission" prop="role">
                <el-select v-model="ruleForm.role" placeholder="Please select" style="width: 100%">
                  <el-option
                    v-for="item in userRoleOptions"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                  </el-option>
                </el-select>
                <div><span class="iws-link">Read more</span> about role permissions</div>
              </el-form-item>
              <el-form-item>
                <el-button type="primary" @click="submitForm('ruleForm')">Add User</el-button>
                <el-button plain @click="cancelForm()">Cancel</el-button>
              </el-form-item>
            </el-form>
          </el-row>
        </transition>
      </el-row>
      <el-table
        class="iws-table"
        :data="userList"
        style="width: 100%">
        <el-table-column
          prop="email"
          label="User ID (Email)">
        </el-table-column>
        <el-table-column
          prop="name"
          label="Name">
        </el-table-column>
        <el-table-column
          prop="role"
          label="Role">
        </el-table-column>
        <el-table-column
          prop=""
          label="">
          <template slot-scope="scope">
            <el-button size="small" icon="iws-icon-edit" @click="editUser(scope.row)"></el-button>
            <el-button size="small" icon="iws-icon-delete"> </el-button>
          </template>
        </el-table-column>
      </el-table>
    </el-main>
  </el-container>
</template>

<script>

export default {
  name: 'Home',
  data () {
    const validatePass = (rule, value, callback) => {
      if (value === '') {
        callback(new Error('Please enter a valid email'))
      } else {
        if (this.ruleForm.email !== '') {
          this.$refs.ruleForm.validateField('checkPass')
        }
        callback()
      }
    }
    return {
      projectInfo: {
        title: this.$router.currentRoute.params.project
      },
      isFormHidden: true,
      ruleForm: {
        email: '',
        role: 'viewer'
      },
      rules: {
        email: [
          { validator: validatePass, trigger: '' }
        ]
      },
      userRoleOptions: [{
        value: 'owner',
        label: 'owner'
      }, {
        value: 'developer',
        label: 'developer'
      }, {
        value: 'viewer',
        label: 'viewer'
      }],
      userList: [
        {
          name: 'yuying.lo',
          email: 'yuying.lo@advantech.com.tw',
          role: 'owner'
        },
        {
          name: 'ray.lee',
          email: 'ray.lee@advantech.com.tw',
          role: 'owner'
        }
      ]
    }
  },
  methods: {
    editUser () {
    },
    submitForm (formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          alert('submit!')
        } else {
          console.log('error submit!!')
          return false
        }
      })
    },
    cancelForm (formName) {
      this.isFormHidden = true
      this.$refs[formName].resetFields()
    }
  }
}
</script>
<style lang="scss" scoped>
  .user-management {
    .user-number {
      margin-left: 8px;
      background-color: #EEE;
      font-size: 12px;
      padding: 2px 4px;
      border-radius: 10px;
      display: inline-block;
      text-align: center;
      vertical-align: text-bottom;
    }
    .button-add-user {
      width: 120px;
    }
    .iws-link {
      color: #008cd6;
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
</style>
<style lang="scss">
  .iws-table {
    th {
      background-color: #EEE;
    }
  }
  .button-add-user {
    i {
      font-weight: bold;
    }
  }
</style>
