@font-face {
font-family: 'Roboto Regular';
font-style: normal;
font-weight: normal;
src: local('Roboto Regular'), url('~@/style/roboto-font/Roboto-Regular.woff') format('woff');
}

@font-face {
font-family: 'Roboto Bold';
font-style: normal;
font-weight: normal;
src: local('Roboto Bold'), url('~@/style/roboto-font/Roboto-Bold.woff') format('woff');
}