<template>
  <el-container class="management">
    <el-header height="56px" class="header">
      <div class="header-left">
        <router-link to="/" style="text-decoration: none;">
          <span class="header-title">iWorkSite</span>
        </router-link>
      </div>
      <div class="header-right">
        <el-dropdown
          style="margin-left: auto;"
          trigger="click"
          @command="handleCommand"
          @visible-change="handleVisibleForIconConfig">
          <div class="el-dropdown-link">
            <div class="button-setting" slot="reference">
              <i class="iws-icon-setting" :class="{'is-active':dropActiveForIconConfig}"></i>
            </div>
          </div>
          <el-dropdown-menu class="iws-dropdown config-dropdown" slot="dropdown">
            <el-dropdown-item>
              <div>{{'Version 1.0.0'}}</div>
            </el-dropdown-item>
          </el-dropdown-menu>
        </el-dropdown>
        <el-dropdown
          style="margin-right: 12px;"
          trigger="click"
          @command="handleCommand"
          @visible-change="handleVisibleForIconUser">
          <div class="el-dropdown-link">
            <div class="iconUser" slot="reference">
              <i class="icon-user" :class="{'is-active':dropActiveForIconUser}"></i>
            </div>
          </div>
          <el-dropdown-menu class="iws-dropdown user-dropdown" slot="dropdown">
            <el-dropdown-item>
              <div style="background-color: #fafafa;border-left: 4px solid #008cd6;">
                <div style="padding: 4px 8px 0 8px;color: #008cd6; font-size: 16px; font-weight: bold;font-family:'Roboto Bold',Microsoft JhengHei';line-height: 24px;">
                  {{myInfo.firstName +' '+ myInfo.lastName }}
                </div>
                <div :title="myInfo.username"
                     style="padding: 0 8px 4px 8px;color: #787878; font-size: 12px; font-weight: normal; line-height: 20px; overflow: hidden; text-overflow: ellipsis;">
                  {{myInfo.username}}
                </div>
              </div>
            </el-dropdown-item>
            <el-dropdown-item command="logout">
              <div>Sign out</div>
            </el-dropdown-item>
          </el-dropdown-menu>
        </el-dropdown>
        <img
          class="logo"
          src="../assets/powered-by-wise-paas.svg"/>
      </div>
    </el-header>
    <router-view/>
  </el-container>
</template>

<script>

export default {
  name: 'Home',
  data () {
    return {
      menuIsHidden: false,
      activeMenuIndex: '',
      dropActiveForIconUser: false,
      dropActiveForIconConfig: false,
      myInfo: {
        username: 'admin',
        firstName: 'admin',
        lastName: 'admin'
      }
    }
  },
  methods: {
    handleVisibleForIconUser (v) {
      this.dropActiveForIconUser = v
    },
    handleVisibleForIconConfig (v) {
      this.dropActiveForIconConfig = v
    },
    handleCommand (command) {
      if (command === 'logout') {
        this.$confirm('Are you sure to sign out?', 'Sign Out', {
          confirmButtonText: 'SIGN OUT',
          cancelButtonText: 'CANCEL',
          type: 'none'
        }).then(() => {
          // this.$router.push({ name: 'sign-out', params: { 'lang': this.$i18n.locale } })
          localStorage.removeItem('Authorized')
          this.$router.push({ name: 'login' })
        }).catch(() => {
        })
      }
    },
    handleMenuSelect (keyString) {
      this.$nextTick(function () {
        if (keyString.includes('/')) {
          this.$router.push({ path: keyString })
        }
      })
    }
  }
}
</script>
<style lang="scss" scoped>
  .management {
    height: 100vh;
    .header {
      display: flex;
      align-items: center;
      background-color: #323233;
      border-bottom: 4px solid #008cd6;
      .header-left {
        .button-menu {
          padding-right: 10px;
          vertical-align: text-bottom;
        }
        .header-title {
          color: #008cd6;
          font-size: 32px;
          font-weight: bold;
          font-family: "Roboto Bold", "Microsoft JhengHei";
        }
      }
      .header-right {
        flex: 1;
        text-align: right;
        display: flex;
        align-items: center;
        .button-setting {
          vertical-align: middle;
          padding-left: 16px;
          padding-right: 0;
          height: 32px;
          line-height: 1;
          .iws-icon-setting {
            display: inline-block;
            vertical-align: middle;
            width: 32px;
            height: 32px;
            background-size: 32px;
            background-image: url("../assets/icon/btn_setting_normal.svg");
            &:hover {
              background-image: url("../assets/icon/btn_setting_hover.svg");
            }
            &:active {
              background-image: url("../assets/icon/btn_setting_active.svg");
            }
            &.is-active {
              background-image: url("../assets/icon/btn_setting_active.svg");
            }
          }
        }
        .iconUser {
          vertical-align: middle;
          padding-left: 16px;
          padding-right: 16px;
          height: 32px;
          line-height: 1;
          border-right: solid 1px #ffffff;
          .icon-user {
            display: inline-block;
            vertical-align: middle;
            width: 32px;
            height: 32px;
            background-size: 32px;
            background-image: url("../assets/icon/btn_user_normal.svg");
            &:hover {
              background-image: url("../assets/icon/btn_user_hover.svg");
            }
            &:active {
              background-image: url("../assets/icon/btn_user_active.svg");
            }
            &.is-active {
              background-image: url("../assets/icon/btn_user_active.svg");
            }
          }
        }
      }
    }
  }
</style>
<style lang="scss">
  .el-table {
    .iws-el-table-column-link {
      /*font-weight: bold;*/
      /*font-family: "Roboto Bold", "Microsoft JhengHei";*/
      /*color: #008cd6;*/
      cursor: pointer;
      &.is-disable {
        color: #c6c6c6;
        text-decoration: none;
        cursor: not-allowed;
      }
    }
    .iws-el-table-no-hover-highlight:hover > td {
      background-color: initial;
    }
  }
  .el-button.el-button--small {
    padding: 0;
    border: none;
    background-color: transparent;
    &:hover, &:active {
      background-color: transparent;
    }
    i {
      display: inline-block;
      width: 32px;
      height: 32px;
    }
  }
  .el-button.is-active {
    .iws-icon-menu {
      background-image: url("../assets/icon/btn_menu_active.svg");
    }
  }
  .iws-icon-menu {
    background-image: url("../assets/icon/btn_menu_normal.svg");
    &:hover {
      background-image: url("../assets/icon/btn_menu_hover.svg");
    }
    &:active {
      background-image: url("../assets/icon/btn_menu_active.svg");
    }
  }
  .iws-icon-search {
    background-image: url("../assets/icon/btn_header_search_blue_normal.svg");
    &:hover {
      background-image: url("../assets/icon/btn_header_search_blue_normal.svg");
    }
    &:active {
      background-image: url("../assets/icon/btn_header_search_blue_active.svg");
    }
  }
  .iws-icon-create {
    background-image: url("../assets/icon/btn_main_create_active.svg");
    &:hover {
      background-image: url("../assets/icon/btn_main_create_active.svg");
    }
    &:active {
      background-image: url("../assets/icon/btn_main_create_active.svg");
    }
  }
  .iws-icon-edit {
    background-image: url("../assets/icon/btn_main_edit2_disable.svg");
    &:hover {
      background-image: url("../assets/icon/btn_main_edit2_normal.svg");
    }
    &:active {
      background-image: url("../assets/icon/btn_main_edit2_active.svg");
    }
  }
  .iws-icon-delete {
    background-image: url("../assets/icon/btn_main_delete_disable.svg");
    &:hover {
      background-image: url("../assets/icon/btn_main_delete_normal.svg");
    }
    &:active {
      background-image: url("../assets/icon/btn_main_delete_active.svg");
    }
  }
  .slide-enter-active {
    transition: all .3s ease;
  }
  .slide-leave-active {
    transition: all .3s ease-in;
  }
  .slide-enter-to, .slide-leave {
    max-height: 500px;
    overflow: hidden;
  }
  .slide-enter, .slide-leave-to {
    max-height: 0;
    overflow: hidden;
  }
</style>
