<template>
  <el-container class="monitor">
    <el-header height="56px" class="header">
      <div class="header-left">
        <el-button
          size="big"
          icon="iws-icon-srpframe-menu"
          :class="{'is-active': !menuIsHidden}"
          @click="menuIsHidden=!menuIsHidden"/>
        <router-link to="/" style="text-decoration: none;">
          <span class="header-title">iWorkSite</span>
        </router-link>
      </div>
      <div class="header-right">
        <el-dropdown
          style="margin-left: auto;"
          trigger="click"
          @command="handleCommand"
          @visible-change="handleVisibleForIconConfig">
          <div class="el-dropdown-link">
            <div class="icon-setting-ref" slot="reference">
              <i class="iws-icon-setting" :class="{'is-active':dropActiveForIconConfig}"></i>
            </div>
          </div>
          <el-dropdown-menu class="iws-dropdown config-dropdown" slot="dropdown">
            <el-dropdown-item>
              <div>{{'Version 1.0.0'}}</div>
            </el-dropdown-item>
          </el-dropdown-menu>
        </el-dropdown>
        <el-dropdown
          trigger="click"
          @command="handleCommand"
          @visible-change="handleVisibleForIconUser">
          <div class="el-dropdown-link">
            <div class="icon-user-ref" slot="reference">
              <i class="iws-icon-user" :class="{'is-active':dropActiveForIconUser}"></i>
            </div>
          </div>
          <el-dropdown-menu class="iws-dropdown user-dropdown" slot="dropdown">
            <el-dropdown-item>
              <div style="background-color: #fafafa;border-left: 4px solid #008cd6;">
                <div style="padding: 4px 8px 0 8px;color: #008cd6; font-size: 16px; font-weight: bold;font-family:'Roboto Bold',Microsoft JhengHei;line-height: 24px;">
                  {{myInfo.firstName +' '+ myInfo.lastName }}
                </div>
                <div :title="myInfo.username"
                     style="padding: 0 8px 4px 8px;color: #787878; font-size: 12px; font-weight: normal; line-height: 20px; overflow: hidden; text-overflow: ellipsis;">
                  {{myInfo.username}}
                </div>
              </div>
            </el-dropdown-item>
            <el-dropdown-item command="logout">
              <div>Sign out</div>
            </el-dropdown-item>
          </el-dropdown-menu>
        </el-dropdown>
        <div style="width:2px;height:32px;border-right: 2px white solid;margin: 0 8px;"></div>
        <div style="padding: 0 8px;">
          <span style="color: white;display: block;">{{clock.date}}</span>
          <span style="color: white;display: block;">{{clock.time}}</span>
        </div>
        <div style="width:2px;height:32px;border-right: 2px white solid;margin: 0 8px;"></div>
        <img
          class="logo"
          src="../assets/powered-by-wise-paas.svg"/>
      </div>
    </el-header>
    <el-container>
      <el-aside class="srpframe-menu" v-show="!menuIsHidden"  :width="menuWidth">
        <ul v-if="srpframe.lang.content && srpframe.lang.content.menu && srpframe.lang.content.menu.list">
          <li v-for="(item, index) in srpframe.lang.content.menu.list" :key="item.id">
            <div @click="handleMenuSelect(item,index)" :class="{'is-active': activeMenuIndex===index}">{{item.title}}</div>
            <ul v-if="item.list">
              <li v-for="(childrenItem, childrenIndex) in item.list" :key="childrenItem.id">
                <div @click="handleMenuSelect(childrenItem, index+'-'+childrenIndex)"
                     :class="{'is-active': activeMenuIndex===(index+'-'+childrenIndex)}">{{childrenItem.title}}</div>
              </li>
            </ul>
          </li>
        </ul>
        <div class="resizer right" style="" @mousedown="resizeMouseDown($event)"></div>
      </el-aside>
      <el-main style="padding: 0;background-color: #AAAAAA;overflow: hidden; position:relative;">
        <iframe :src="iframeSrc" style="width: 100%;height: 100%;" frameBorder="0"></iframe>
        <div class="cover" :class="{ active: menuResizeCover }"></div>
      </el-main>
    </el-container>
  </el-container>
</template>

<script>
import projectApi from '@/api/project'
export default {
  name: 'Home',
  data () {
    return {
      clockId: null,
      clock: {
        date: '',
        time: ''
      },
      menuIsHidden: false,
      menuWidth: '300px',
      menuResizeCover: false,
      activeMenuIndex: null,
      dropActiveForIconUser: false,
      dropActiveForIconConfig: false,
      myInfo: {
        username: 'admin',
        firstName: 'admin',
        lastName: 'admin'
      },
      iframeSrc: null,
      srpframe: {
        system: {
          content: null
        },
        lang: {
          content: null
        }
      }
    }
  },
  created () {
    this.getSrpframeContent()
    this.clockId = setInterval(this.updateClock, 1000)
    this.updateClock()
  },
  destroyed () {
    clearInterval(this.clockId)
  },
  methods: {
    updateClock () {
      const cd = new Date()
      this.clock.time = this.zeroPadding(cd.getHours(), 2) + ':' + this.zeroPadding(cd.getMinutes(), 2) + ':' + this.zeroPadding(cd.getSeconds(), 2)
      this.clock.date = this.zeroPadding(cd.getFullYear(), 4) + '/' + this.zeroPadding(cd.getMonth() + 1, 2) + '/' + this.zeroPadding(cd.getDate(), 2)
    },
    zeroPadding (num, digit) {
      let zero = ''
      for (let i = 0; i < digit; i++) {
        zero += '0'
      }
      return (zero + num).slice(-digit)
    },
    handleVisibleForIconUser (v) {
      this.dropActiveForIconUser = v
    },
    handleVisibleForIconConfig (v) {
      this.dropActiveForIconConfig = v
    },
    handleCommand (command) {
      if (command === 'logout') {
        this.$confirm('Are you sure to sign out?', 'Sign Out', {
          confirmButtonText: 'SIGN OUT',
          cancelButtonText: 'CANCEL',
          type: 'none'
        }).then(() => {
          // this.$router.push({ name: 'sign-out', params: { 'lang': this.$i18n.locale } })
        }).catch(() => {
        })
      }
    },
    handleMenuSelect (item, menuIndex) {
      this.activeMenuIndex = menuIndex
      if (item.type && item.type === 'url') {
        this.iframeSrc = item.url
      }
    },
    getSrpframeContent () {
      projectApi.getSrpframeConfigContent().then(data => {
        this.srpframe.lang.content = JSON.parse(data.content)
        if (this.srpframe.lang.content &&
            this.srpframe.lang.content.menu &&
            this.srpframe.lang.content.menu.list &&
            this.srpframe.lang.content.menu.list.length > 0) {
          this.handleMenuSelect(this.srpframe.lang.content.menu.list[0], 0)
        }
      }).catch()
    },
    resizeMouseDown (e) {
      e.preventDefault()
      this.menuResizeCover = true
      this.originalWidth = parseInt(this.menuWidth)
      this.originalMouseX = e.pageX
      this.originalMouseY = e.pageY
      window.addEventListener('mousemove', this.resizeMouseMove)
      window.addEventListener('mouseup', this.resizeMouseUp)
    },
    resizeMouseMove (e) {
      var that = this
      clearTimeout(this.resizeTimeout)
      var width = parseInt(this.originalWidth) + (e.pageX - this.originalMouseX)
      this.resizeTimeout = setTimeout(function () {
        that.menuWidth = width + 'px'
      }, 50)
    },
    resizeMouseUp   () {
      this.menuResizeCover = false
      window.removeEventListener('mousemove', this.resizeMouseMove)
    }
  }
}
</script>
<style lang="scss" scoped>
  .monitor {
    height: 100vh;
    .header {
      padding: 0;
      display: flex;
      align-items: center;
      background-color: #4e4e4f;
      .header-left {
        display: flex;
        align-items: center;
        .header-title {
          padding-left: 10px;
          color: #008cd6;
          font-size: 32px;
          font-weight: bold;
          font-family: "Roboto Bold", "Microsoft JhengHei";
        }
      }
      .header-right {
        flex: 1;
        text-align: right;
        display: flex;
        align-items: center;
        padding-right: 10px;
        .icon-setting-ref {
          vertical-align: middle;
          padding-left: 16px;
          padding-right: 0;
          height: 32px;
          line-height: 1;
          .iws-icon-setting {
            display: inline-block;
            vertical-align: middle;
            width: 32px;
            height: 32px;
            background-size: 32px;
            background-image: url("../assets/icon/btn_setting_normal.svg");
            &:hover {
              background-image: url("../assets/icon/btn_setting_hover.svg");
            }
            &:active {
              background-image: url("../assets/icon/btn_setting_active.svg");
            }
            &.is-active {
              background-image: url("../assets/icon/btn_setting_active.svg");
            }
          }
        }
        .icon-user-ref {
          vertical-align: middle;
          padding-left: 16px;
          padding-right: 16px;
          height: 32px;
          line-height: 1;
          .iws-icon-user {
            display: inline-block;
            vertical-align: middle;
            width: 32px;
            height: 32px;
            background-size: 32px;
            background-image: url("../assets/icon/btn_user_normal.svg");
            &:hover {
              background-image: url("../assets/icon/btn_user_hover.svg");
            }
            &:active {
              background-image: url("../assets/icon/btn_user_active.svg");
            }
            &.is-active {
              background-image: url("../assets/icon/btn_user_active.svg");
            }
          }
        }
      }
    }
    .srpframe-menu {
      position: relative;
      color: white;
      background-color: #282828;
      // border-right: #464646 4px solid;
      padding-right: 5px;
      ul, li {
        list-style: none;
        line-height: 40px;
        margin: 0;
        font-size: 19px;
      }
      ul {
        padding-left: 20px;
      }
      > ul > li {
        line-height: 62px;
        font-size: 22px;
      }
      div {
        cursor: pointer;
      }
      div.is-active {
        color: #008cd6;
        font-weight: bold;
        font-family: "Roboto Bold", "Microsoft JhengHei";
      }
      .resizer{
        position:absolute;
        top: 0px;
        right:0px;
        width:5px;
        height:100%;
        cursor: col-resize;
        z-index:500;
        background:#464646;
      }
    }
    .cover{
      position:absolute;
      width: 100%;
      height: 100%;
      display: none;
    }
    .cover.active{
      top: 0px;
      display: block;
    }
  }
</style>
<style lang="scss">
  .el-button.el-button--small {
    padding: 0;
    border: none;
    background-color: transparent;
    &:hover, &:active {
      background-color: transparent;
    }
    i {
      display: inline-block;
      width: 32px;
      height: 32px;
    }
  }
  .el-button.el-button--big {
    padding: 0;
    border: none;
    background-color: transparent;
    line-height: 0;
    &:hover, &:active {
      background-color: transparent;
    }
    i {
      display: inline-block;
      width: 56px;
      height: 56px;
    }
  }
  .el-button.is-active {
    .iws-icon-srpframe-menu {
      background-image: url("../assets/icon/btn-header-menu-a.svg");
    }
  }
  .iws-icon-srpframe-menu {
    background-image: url("../assets/icon/btn-header-menu-n.svg");
    &:hover {
      background-image: url("../assets/icon/btn-header-menu-h.svg");
    }
    &:active {
      background-image: url("../assets/icon/btn-header-menu-a.svg");
    }
  }
</style>
