<template>
  <el-main class="explore">
    <el-row class="explore-title-row">
      <span style="margin-right: 8px;">Projects</span>
      <el-button size="small" icon="iws-icon-create create-project-button" @click="isProjectFormHidden=false"></el-button>
      <el-button size="small" icon="iws-icon-search create-project-button"></el-button>
    </el-row>
    <transition name="slide">
      <el-tabs type="card" :stretch="true" v-show="!isProjectFormHidden" class="project-form-tab">
        <el-tab-pane label="Blank Project">
          <el-form :model="ruleForm" :rules="rules" ref="ruleForm" class="project-ruleForm" size="mini">
            <el-form-item label="Project name" prop="name">
              <el-input type="email" v-model="ruleForm.name" autocomplete="off" placeholder="My project"></el-input>
            </el-form-item>
            <el-form-item label="Project URL" prop="url">
              <el-input type="email" v-model="ruleForm.url" autocomplete="off"  placeholder="my-project"></el-input>
            </el-form-item>
            <el-form-item label="Project description (optional)" prop="description">
              <el-input type="email" v-model="ruleForm.description" autocomplete="off"></el-input>
              <div><span class="iws-link">Read more</span> about role permissions</div>
            </el-form-item>
            <el-form-item>
              <el-button type="primary" @click="submitForm('ruleForm')">Create Project</el-button>
              <el-button plain @click="cancelForm()">Cancel</el-button>
            </el-form-item>
          </el-form>
        </el-tab-pane>
        <el-tab-pane label="Create From Template"></el-tab-pane>
      </el-tabs>
    </transition>
    <el-row>
      <el-row v-for="item in project" :key="item.id" style="width: 100%;" class="project-row">
        <div class="project-avatar"><span>{{item.title[0]}}</span></div>
        <div class="project-detail">
          <div class="project-title" @click="projectClickEvent(item)">{{item.title}}</div>
          <div class="project-description">{{item.description}}</div>
          <div style="margin-top: 6px;">
            <i class="el-icon-star-off"></i>
            <span style="font-size: 14px;margin-left: 4px;">{{item.starred_num}}</span>
          </div>
        </div>
<!--        <div class="project-progress" style="float: right;">-->
<!--          <el-progress type="circle" stroke-width="2" width='48' :percentage="item.progress_percentage"-->
<!--                       :status="item.progress_percentage==100?'success':''"></el-progress>-->
<!--        </div>-->
        <div class="project-time"><span>Last Updated {{item.last_updated_time}}</span></div>
      </el-row>
    </el-row>
  </el-main>
</template>

<script>

export default {
  name: 'Home',
  data () {
    const validatePass = (rule, value, callback) => {
      if (value === '') {
        callback(new Error('Please enter a valid name'))
      } else {
        if (this.ruleForm.email !== '') {
          this.$refs.ruleForm.validateField('checkPass')
        }
        callback()
      }
    }
    return {
      isProjectFormHidden: true,
      ruleForm: {
        name: '',
        url: '',
        description: '',
        role: 'viewer'
      },
      rules: {
        name: [
          { validator: validatePass, trigger: 'blur' }
        ]
      },
      project: [{
        id: 1,
        title: '研華林口園區三期',
        description: '研華林口園區三期智能建築，將於此落實黃金級綠建築、AIoT智慧建築。',
        last_updated_time: '2020-08-30',
        progress_percentage: 60,
        starred_num: 5
      }, {
        id: 2,
        title: '南港世界明珠',
        description: '全台第一座符合綠建築及核電廠防震等級。',
        last_updated_time: '2020-09-10',
        progress_percentage: 100,
        starred_num: 1
      }]
    }
  },
  methods: {
    projectClickEvent (item) {
      this.$router.push({ name: 'project-overview', params: { project: item.title } })
    },
    getUpdatedTime (t) {
      const startDate = new Date()
      const endDate = new Date(t)
      const seconds = (endDate.getTime() - startDate.getTime()) / 1000
      return seconds
    },
    submitForm (formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          alert('submit!')
        } else {
          console.log('error submit!!')
          return false
        }
      })
    },
    cancelForm (formName) {
      this.isProjectFormHidden = true
      this.$refs[formName].resetFields()
    }
  }
}
</script>
<style lang="scss" scoped>
  .explore {
    margin: 0 auto;
    width: 100%;
    max-width: 1248px;
    .explore-title-row {
      font-size: 24px;
      font-weight: bold;
      padding-bottom: 12px;
      border-bottom: #EEE 1px solid;
    }
  }
  .project-row {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #EEE;
    > div {
      display: inline-block;
      margin: 10px;
    }
    .project-avatar {
      width: 48px;
      height: 48px;
      border-radius: 4px;
      background-color: #EEE;
      font-size: 20px;
      color: #AAA;
      text-align: center;
      vertical-align: text-bottom;
      & > span {
        line-height: 48px;
      }
    }
    .project-detail {
      .project-title {
        display: inline-block;
        font-size: 20px;
        color: #008cd6;
        padding-top: 12px;
        margin-bottom: 12px;
        border-bottom: 2px solid transparent;
        &:hover {
          cursor: pointer;
          border-bottom: 2px solid #008cd6;
        }
      }
      .project-description {
        font-size: 14px;
        color: #787878;
      }
    }
    .project-time {
      font-size: 14px;
      color: #787878;
      margin-left: auto;
      order: 2;
    }
  }
</style>
<style lang="scss">
  .create-project-button {
    vertical-align: text-bottom;
    background-size: 24px;
    width: 24px !important;
    height: 24px !important;
  }
  .project-form-tab {
    margin-top: 12px;
    .el-tabs__header {
      margin-bottom: 0;
    }
    .el-tabs__content {
      border-left: 1px solid #EEE;
      border-right: 1px solid #EEE;
      border-bottom: 1px solid #EEE;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      padding: 12px;
    }
  }
</style>
