<template>
  <div class="login-wrapper">
    <div id="particles-js"></div>
    <div id="login-wrapper">
      <div id="login-b">
        <div id="login-box">
          <div class="login-wplogo-area">
            <img id="topleft-logo" class="img-responsive" src="../../assets/WISE-PaaS_AIoT_Solution_Marketplace.svg" />
          </div>
          <div class="login-pdlogo-area">
<!--            <img id="center-logo" class="img-responsive" src="../../assets/WISE-PaaS_composer.svg">-->
            <span style="font-family: 'Arial';">iWorkSite</span>
          </div>
          <div class="login-switch-area">
            <div id="login-switch-type">
              <label><input type="radio" name="login-type" v-model="switchType" value="LDAP"><span>LDAP</span></label>
              <label><input type="radio" name="login-type" v-model="switchType" value="Standard"><span>Standard</span></label>
            </div>
          </div>
          <div class="login-msg-area">
            <div id="login-message" v-bind:class="{ errorFont: errFlag }">{{tipMessage}}</div>
          </div>
          <div class="login-form-area">
            <input id="login-username" v-model="username" @keyup.enter="focusPwd" type="text" class="form-control" v-on:input ="clearErrMsg"
                  v-bind:placeholder="placeholderStr" maxlength="253">
            <input id="login-pwd" v-focus="isPwdFocus" @focus="isPwdFocus = true" @blur="isPwdFocus = false"
                  @keyup.enter="submitLogin" v-model="password" type="password" class="form-control" v-on:input ="clearErrMsg"
                  placeholder="Password" minlength="8" maxlength="20">
          </div>
          <div class="login-rememberme-area">
            <label id="login-rememberme">
              <input type="checkbox" v-model="isRemember">Remember me
              <span class="checkbox-mark"></span>
            </label>
            <div id="login-forgetpwd" @click="gotoForgetPassword"><p class="noselect">Forget password?</p></div>
          </div>
          <div class="login-submit-area">
            <div id="login-btn" @click="submitLogin" :class="{ grayBtn: clicked }">
              <span class="noselect">Sign in</span>
            </div>
          </div>
          <div></div>
          <!-- <img id="topleft-logo" class="img-responsive" src="../../../static/img/wise-paas-logo.svg" />
          <div id="center-logo-wrapper">
          </div>
          <div id="login-switch-type">
            <label><input type="radio" name="login-type" v-model="switchType" value="LDAP"><span>LDAP</span></label>
            <label><input type="radio" name="login-type" v-model="switchType" value="Standard"><span>Standard</span></label>
          </div>
          <div id="login-message" v-bind:class="{ errorFont: errFlag }">{{tipMessage}}</div>
          <div id="login-form">
            <input id="login-username" v-model="username" @keyup.enter="focusPwd" type="text" class="form-control" v-on:input ="clearErrMsg"
                  v-bind:placeholder="placeholderStr" maxlength="253">
            <input id="login-pwd" v-focus="isPwdFocus" @focus="isPwdFocus = true" @blur="isPwdFocus = false"
                  @keyup.enter="submitLogin" v-model="password" type="password" class="form-control" v-on:input ="clearErrMsg"
                  placeholder="Password" minlength="8" maxlength="20">
          </div>
          <label id="login-rememberme">
            <input type="checkbox" v-model="isRemember">
            <span class="noselect">Remember me</span>
          </label>
          <div id="login-forgetpwd" @click="gotoForgetPassword"><p class="noselect">Forget password?</p></div>
          <div id="login-btn" @click="submitLogin">
            <span class="noselect">Sign in</span>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</template>
<script>

import { mixin } from 'vue-focus'
// import { authAPI } from '@/api/restfulAPI'
// import * as glbData from '@/js/globalData'
// import * as tokenPrc from '@/js/tokenProcess'
const DEF_TOKEN_TS = (2 * 7 * 24 * 60) // 2 weeks

export default {
  name: 'composer-login',
  mixins: [mixin],
  data () {
    return {
      username: '',
      password: '',
      switchType: 'Standard',
      isRemember: false,
      defTokenTs: DEF_TOKEN_TS,
      tipMessage: 'Sign in to Cloud iWorkSite Network',
      errFlag: false,
      isPwdFocus: false,
      clicked: false
    }
  },
  computed: {
    placeholderStr () {
      return this.switchType === 'LDAP' ? 'LDAP Username' : 'Email'
    },
    type () {
      return this.switchType === 'LDAP' ? 'LDAP' : ''
    }
  },
  created () {
    this.isRemember = localStorage.getItem('remember') === null ? false : localStorage.getItem('remember')
    if (this.isRemember === 'true') {
      this.isRemember = true
      this.username = localStorage.getItem('username')
      this.password = localStorage.getItem('password')
      this.switchType = localStorage.getItem('switchType')
    } else {
      this.isRemember = false
    }
    // delete cookie
    // tokenPrc.delCookie('EIToken')
    // tokenPrc.delCookie('EIName')
    // tokenPrc.delCookie('org_id')
    // tokenPrc.delCookie('org_name')
    // tokenPrc.delCookie('role')
  },
  mounted: function () {
  },
  methods: {
    clearErrMsg () {
      // this.tipMessage = ''
    },
    submitLogin () {
      if (this.clicked === true) {
        return false
      }
      this.clicked = true
      this.tipMessage = ''

      // let tokenTs = this.isRemember ? this.defTokenTs : 0
      // tokenPrc.clearToken()
      // authAPI.loginWithPwd(this.username, this.password, this.type, tokenTs).then(resp => {
      //   this.clicked = false;
      //   // tokenPrc.setToken(data.token)
      // if (resp.errCode === 0) {
      if (this.username === 'admin' && this.password === 'admin') {
        if (this.isRemember) {
          localStorage.setItem('username', this.username)
          localStorage.setItem('password', this.password)
          localStorage.setItem('switchType', this.switchType)
          localStorage.setItem('remember', true)
        } else {
          localStorage.removeItem('username')
          localStorage.removeItem('password')
          localStorage.removeItem('switchType')
          localStorage.setItem('remember', false)
        }
        // let defaultLang = localStorage.getItem('scLang') || 'zh'
        // if (this.getParamFromURL('redirect')) {
        //   var redirectURL = this.getParamFromURL('redirect')
        //   var index = redirectURL.lastIndexOf('#')
        //   if (index > 0) {
        //     redirectURL = redirectURL.substring(0, index)
        //   }
        //   window.location.href = decodeURIComponent(redirectURL)
        // } else {
        //   this.$router.push({ name: glbData.MAIN_CMPN, params: { lang: defaultLang } })
        // }
        localStorage.setItem('Authorized', 'OK')
        this.$router.push({ name: 'home' })
      } else {
        this.tipMessage = 'Invalid username or password'
        // var failMsg = ""
        // var ssoErrMsg = resp.data.match(/\[sso\].*/)
        // if (ssoErrMsg !== null) {
        //   // var myRegex = /[^\[sso\](\d{5}):].*/;
        //   var myRegex = new RegExp('[^\\[sso\\](\\d{5}):].*')
        //   ssoErrMsg = myRegex.exec(ssoErrMsg)
        //   if (ssoErrMsg !== null && ssoErrMsg[0].trim() !== "") {
        //     failMsg = ssoErrMsg[0].trim()
        //   }
        // }
        //
        // if (failMsg !== "") {
        //   this.tipMessage = failMsg
        // } else {
        //   this.tipMessage = resp.data
        // }
        this.errFlag = true
      }
      // }).catch(error => {
      //   console.log(error)
      //   this.tipMessage = "error"
      //   this.errFlag = true
      // })

      setTimeout(function () {
        this.clicked = false
      }, 3000)
    },
    gotoForgetPassword () {
      // let defaultLang = localStorage.getItem('scLang') || 'zh'
      // this.$router.push({name: glbData.FORGETPASSWORD_CMPN, params: {lang: defaultLang}})
    },
    focusPwd () {
      this.isPwdFocus = true
    },
    getParamFromURL (param) {
      const url = window.location.toString()
      let str = ''
      let strValue = ''
      if (url.indexOf('?') !== -1) {
        const ary = url.split('?')[1].split('&')
        for (let i = 0; i < ary.length; i++) {
          str = ary[i].split('=')[0]
          if (str === param) {
            strValue = decodeURI(ary[i].split('=')[1])
            break
          }
        }
      }
      return strValue
    }
  }
}
</script>

<style lang="scss" scoped>

.grayBtn {
  background-color: #909090 !important;
}
</style>
<style scoped src="../../style/login/common.css"></style>
<style scoped src="../../style/login/v375.css"></style>
<style scoped src="../../style/login/v414.css"></style>
<style scoped src="../../style/login/v1024.css"></style>
<style scoped src="../../style/login/v4k.css"></style>
